<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <title>Update Company Details</title>
</head>
<body>

<div class="navi">
    <a href="/details" target="_blank">Details</a>
    <a href="/transports" target="_blank">Transports</a>
    <a href="/transactions" target="_blank">Transactions</a>
</div>

    <div class="well">
        <h2>Enter your company details:</h2>
        <form action="/submit_details" method="post">
            <input type="text" name="name" placeholder="Company Name">
            <input type="text" name="company_type" placeholder="Company Type">
            <input type="text" name="physical_address" placeholder="Physical Address">
            <input type="text" name="information_node" placeholder="Information Node IP">
            <input type="submit">
        </form>
    </div>
</body>
</html>