<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a Purchase Request</title>
</head>
<body>
<h2>Request details:</h2>
    <form action="/submit_purchase_req" method="post">
        Item: <input type="text" name="item" placeholder="Item"><br>
        Amount: <input type="text" name="amount" placeholder="Amount"><br>
        Frequency: <br>
        Daily:<input type="radio" name="frequency" placeholder="Daily">Weekly<input type="radio" name="frequency" placeholder="Weekly"><br>
        Starting: <input type="date" name="starting" placeholder="Starting"><br>
        Ending: <input type="date" name="ending" placeholder="Ending"><br>
        Information Agent: <input type="text" name="ia" placeholder="Information Agent"><br>
        <input type="submit" placeholder="Submit">
    </form>
</body>
</html>