<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <title>Transactions</title>
</head>
<body>

<div class="navi">
    <a href="/details" target="_blank">Details</a>
    <a href="/inventory" target="_blank">Inventory</a>
    <a href="/purchase" target="_blank">Purchase</a>
    <a href="/transactions" target="_blank">Transactions</a>
</div>

<!--<div class="well">
    <p>Enter the name of your corporation here. The system will make and attempt to decrypt your invoices and send them to you.</p>

    <form action="/set_company" method="post">
        <input type="text" name="address" placeholder="Get Transactions From...">
        <input type="submit">
    </form>

    <p>Set the public key that you want to use to encrypt your message. This key should be provided to you by the recipient of your invoice.</p>
    <form action="/submit_public_key" method="post">
        <input type="text" name="key" placeholder="Public Key">
        <input type="submit">
    </form>
</div>-->
<div class="well">
    <h2>Your Transactions:</h2>
        {% for invoice in invoices %}
            {{invoice}} <br /><br />
        {% endfor %}

</body>
</html>