<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blockchain Application</title>
</head>
<body>

    <h1 class="heading">Blockchain Pre-Release</h1>
    <form action="/submit" method="post">
        <input type="text" name="content">
        <input type="submit">
    </form>
    <a href="{{node_address}}/mine" target="_blank"><button>Request to mine</button></a>
	<a href="/"><button>Resync</button></a>
    <h2 style='background-color:cyan;'>Unconfirmed Transactions:</h2>
    <table>
    {% for uc in unconfirmed_transactions%}
        <tr>{{uc}}</tr>
    {% endfor %}
    </table>
    <h2 style='background-color:red;'>Confirmed Transactions:</h2>
    {% for post in posts %}
        {{post}}
    {% endfor %}
</body>
</html>