<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blockchain Application</title>
</head>
<body>

    <h1 class="heading">Blockchain Pre-Release</h1>

    <form action="/submit" method="post">
        <input type="text" name="manufacturer_id" placeholder="Manufacturer Product ID">
        <input type="text" name="initial_id" placeholder="Initial Product ID">
        <input type="text" name="weight" placeholder="Weight (KG)">
        <input type="text" name="customer_id" placeholder="Customer ID">
        <input type="submit">
    </form>

    <a href="{{node_address}}/mine" target="_blank"><button>Mine Transactions</button></a>
	<a href="/"><button>Resync</button></a>
    <a href="{{node_address}}/decrypt" target="_blank"><button>decrypt</button></a>
    <h2 style='background-color:red;'>Confirmed Transactions:</h2>
    {% for post in posts %}
        {{post}} <br />
    {% endfor %}
</body>
</html>